DTD-Export is an corporate website created for the Spanish agricultural company "DTD-Export". 
<br><br> 
The main goal of the website is to provide information about the agriculture of Andalucia (Spain) and all the fruits and vegetables that grow in the zone. 
The most notable PHP features are the languages support and the contact form.
<br><br> 
Unfortunately the project was canceled just before it's completion and was never published online. 
The only feature that was not finished entirely is the language support (currently only Spanish is available). 