JavaJumper is my first java game. It's a 2D "jump and run" game in which you play as a kangaroo and your main goal is to keep jumping on the clouds as long as possible.
<br><br> 
As the game goes on the speed increases making it more difficult. There are also birds that you can kill to gain the ability to jump higher. 
Once you die you can submit your score to the database and see how good you are.
<br><br> 
Since this game was made using the now obsolete applet technology It is now considered security risk and you might have hard time running it in your browser.
