jChat (or jChatV2) is the second version of my client/server chat application. 
<br><br> 
It was created mainly to facilitate the communication between my classmates during those long and boring classes. 
Some of it's features include:
<ul>
	<li>IP/port configuration</li>
	<li>Unlimited number of clients</li>
	<li>Client username, themes, font type, size and color</li>
	<li>Connected clients list</li>
	<li>Kick function and "panic button" from the server application</li>
	<li>On screen logs</li>
</ul>