Javacript/Canvas remake of one of my first Java games. 
<br/>
The game is a mix between HTML/CSS (used for the menus and the level editor) and Javascript/Canvas code for the actual game mechanics. 
<br/><br/>
The game consists in fighting against enemy bombers, fighters, tanks and infantry while trying to save as many civilians as possible.
<br/><br/>
Some of the game's features include:

<ul>
	<li>3 controllable planes with different stats.</li>
	<li>3 built in levels with different weather.</li>
	<li>Level editor that supports all game weather types, level themes and drag and drop for placing enemies or civilians.</li>
	<li>Customizable game controls.</li>
	<li>HUD that tracks the plane's health, speed, direction, machinegun and bombs status.</li>
	<li>Ingame menu for pausing/restarting the game.</li>
</ul>
