jFighter is my second java game. It's a 2D World War 2 air fighter simulator in which you play as the Axis. 
<br><br> 
It lets you choose between 3 airplanes with different statistics:
<ul>
	<li>Messerschmitt Bf 109</li>
	<li>Ju 87 Stuka</li>
	<li>Ki 84</li>
</ul>
<br>
The main goal of the game is to survive as long as possible while being attacked by american infantry, tanks and even air fortress bombers.
<br><br>
Each airplane has machine guns (space button) and a bomb (shift button) that can be dropped every few seconds. 
The game was never fully finished, but still provides some entertainment.