Browser-based, free-to-play, online fashion game with more than 8 million registered players.
<br><br> 
I have been involved with the maintenance and development of both the backend and frontend functionalities of the game.
<br><br> 
The game consists in collecting clothes and accesories for your wardrobe and your apartment in order to gain more popularity, ingame currency and experience. 
There are a lot of features such as: 
<ul>
	<li>Guilds</li>
	<li>Night clubs</li>
	<li>Duels with other ladies</li>
	<li>Parties</li>
	<li>Pets</li>
	<li>Beauty contests</li>
	<li>Events containing mini games</li>
</ul>