M&S Géstion is a client and appointment management software created for the Spanish hair salon company "M&S Peluquerías".
It consists of 3 separate modules - one for clients management, one for appointments and the data export module. 
<br><br> 
Here are some of their features:
<ul>
	<li>Central database for all modules</li>
	<li>Different user types with different privileges</li>
	<li>Client/Appointment creation/modification/deletion</li>
	<li>History of all appointmets</li>
	<li>History of all services or products bought with their respective bonus points</li>
	<li>Bonus and discount system</li>
	<li>Export to CSV for all registered clients</li>
</ul>