Sentiment Metrics is a social customer service platform. I have been responsible for the development of the new NodeJS/AngularJS version of the product.
The web application allows you to control all your social networks providing the following features:

<ul>
	<li>unified inbox for all social accounts</li>
	<li>statistics</li>
	<li>scheduled posts</li>
	<li>configurable automatic responses and filtering</li>
</ul>

<br>

It supports all popular social networks like:

<ul>
	<li>Facebook</li>
	<li>Twitter</li>
	<li>Google+</li>
	<li>Youtube</li>
	<li>Linkedin</li>
	<li>Instagram</li>
	<li>Odnoklassniki</li>
	<li>VKontakte</li>
	<li>WeChat</li>
</ul>
