Complete rewrite of the Tablaturi-bg AngularJS website using VueJS/Vuex and a reworked PHP API.
<br><br>

The main idea behind the site is to provide access to my big collection of guitar tabs, but it has many features such as: 

<ul>
	<li>user profiles with basic information and avatar</li>
	<li>email notifications</li>
	<li>user search</li>
	<li>reputation / ranks gain</li>
	<li>comments with emoticons in the user profiles / tabs / articles</li>
	<li>tab files uploader / editor with many options</li>
	<li>download tab as TXT feature</li>
	<li>user and tab reporting</li>
	<li>tab rating</li>
	<li>articles manager</li>
	<li>articles search</li>
</ul>



