TheHub is my first big web project. It's a chat room web application that supports dynamic room creation and features such as:  
<ul>
	<li>User profiles with basic information and avatar</li>
	<li>User panel to edit all user information</li>
	<li>Drag and drop for all interface panels</li>
	<li>Creation of public, private (password protected), persistent or temporal chat rooms with user limits</li>
	<li>Automatic deletion of inactive/empty chat rooms</li>
	<li>Emoticons and quick view of the users profiles while chatting</li>
	<li>Admin panel with room creation and deletion options, and kick and ban user functionalities</li>
</ul>