NodeJS/Socket.IO implementation of the Tic-Tac-Toe game. 
The backend is based on Express and MySQL while the front end uses mostly jQuery with some changes to the way it handles reusable components. 
It uses SASS as css preprocessor, the dependencies are managed using bower and the build process is done with gulp.

<br><br>

Some of the game's features include:
<ul>
	<li>User signup</li>
	<li>Game lobby with a global chat and a list of available players and active games</li>
	<li>User profile and game history (with all player's moves) for each player</li>
	<li>Ingame chat for the two players</li>
	<li>Sound notifications on chat message and game request.</li>
</ul>

