VueJS/Electron client for the vChat messenger API. It has a web client built with VueJS and a desktop port built with Electron.
<br><br>

It has the following features:

<ul>
	<li>The client has the ability to work with any self hosted vChat server (workspace)</li>
	<li>User signup/login</li>
	<li>Personalizable user profile (avatar, description, username...)</li>
	<li>Personalizable user settings (show new message notifications, show online status notifications...)</li>
	<li>Private and global channels/conversations</li>
	<li>The ability to mute conversations</li>
	<li>Emoticons</li>
	<li>File messages with image preview</li>
</ul>



